* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #31363F;
    text-align: center;
    color: #fff;
}

.container {
    margin-top: 1rem;
    
    
}

h1{
    margin-bottom: 2rem;
}

span {
    color: #f8bc6f;
}

button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.result {
    padding: 0.7rem;
    margin-top: 2rem;
    font-size: 1rem;
    margin-bottom: 21rem;
    border: 2px solid rgb(201, 5, 255);
    width: 60%;
    margin-left: 20rem;
    background-color: #262b40;
    
}


/* scroll bar  */
.result{
    overflow-y: scroll;
    height: 70vh;
}
